<h5>2016 KPI:$15M Renewal Revenue (Strategic Goal)</h5>
<button (click)="close()" mat-icon-button>
  <mat-icon>close</mat-icon>
</button>
<h1>Add entities</h1>

<mat-card>
  <div>
    <mat-form-field>
      <input matInput [formControl]="searchControl">
    </mat-form-field>
  </div>
  <div *ngFor="let entityType of entityTypes" [ngClass]="{'entity-hidden': entityType.hidden}">
    <mat-checkbox [(ngModel)]="entityType.checked"></mat-checkbox>
    <span>{{entityType.title}}</span>
    <span>{{entityType.type}}</span>
  </div>
</mat-card>

<button class="btn-connect" mat-flat-button (click)="connect()">Connect</button>
