<div mat-dialog-title>
  <span class="hint-title">2016 KPI:$15M Renewal Revenue (Strategic Goal)</span>

  <button (click)="close()" mat-icon-button class="close-btn">
    <mat-icon svgIcon="app-icon-close"></mat-icon>
  </button>
</div>

  <p class="add-entites-header">Add entities</p>

  <div class="entity-types-container">
    <mat-card class="entity-types-list">

      <div class="entity-row header">
        <mat-form-field class="search-form-field">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput [formControl]="searchControl" placeholder="Search entity">
        </mat-form-field>
        <button mat-icon-button class="sort-btn">
          <mat-icon svgIcon="app-icon-shape">mode_edit</mat-icon>
        </button>
      </div>

      <div *ngFor="let entityType of entityTypes"
           [ngClass]="{'entity-hidden': entityType.hidden}"
           class="entity-row entity-item">

        <mat-checkbox [(ngModel)]="entityType.checked"></mat-checkbox>

        <div class="entity-description">
          <p class="description-title">{{entityType.title}}</p>
          <p class="description-type">{{entityType.type}}</p>
        </div>
      </div>
    </mat-card>

    <button class="connect-btn" mat-flat-button (click)="connect()">
      <span class="button-title">Connect</span>
    </button>
  </div>
