<mat-accordion *ngIf="entityDetails.length; else emptyEntityDetails">
  <mat-expansion-panel class="entity-card entity-expansion-panel">

    <mat-expansion-panel-header>
      <button (click)="showDialog()" mat-icon-button class="add-entity-btn">
        <mat-icon>add</mat-icon>
      </button>
      <span class="panel-title">Entites connected ({{entityDetails.length}})</span>
    </mat-expansion-panel-header>

    <div *ngFor="let entityDetail of entityDetails" class="entity-item">
      <p class="entity-title">
        {{entityDetail.title}}
      </p>
      <p class="entity-description">
        {{entityDetail.description}}
      </p>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<ng-template #emptyEntityDetails>
  <mat-card class="entity-card entity-empty-card">
    <button (click)="showDialog()" mat-icon-button class="add-entity-btn">
      <mat-icon>add</mat-icon>
    </button>
    <span class="panel-title">Connect entity</span>
  </mat-card>
</ng-template>
